.additional-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px 10px;
  min-height: 129px;
  padding-block: 13px 19px;
  line-height: 1;
  border-bottom: $border-optional;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    gap: 25px;
    padding-block: 25px 28px;
    padding-inline: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 245px;
    align-items: center;
    column-gap: 40px;
    min-height: auto;
    padding-block: 15px 16px;
    padding-inline: 0;
  }
}

.additional-product__wrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr 45px;
    justify-self: end;
    column-gap: 50px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    column-gap: 40px;
    justify-self: stretch;
  }
}

.additional-product__title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-text-secondary;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.additional-product__description {
  margin: 0;
}

.additional-product__price {
  margin: 0;
  text-align: right;
}

.additional-product__button {
  grid-column: span 2;

  @media (min-width: $desktop-width) {
    grid-column: span 1;
  }
}
