.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0;
  transition: all 0.2s ease;

  &--primary {
    padding: 10px 20px;
    color: $color-white;
    background-color: $color-green-basic;

    &:hover,
    &:focus-visible {
      background-color: $color-green-alternate;
    }

    &:active {
      color: rgba($color-white, 0.3);
      background-color: $color-green-alternate;
    }
  }

  &--secondary {
    padding: 10px 20px;
    color: $color-text-primary;
    background-color: $color-background;

    &:hover,
    &:focus-visible {
      background-color: $border-card;
    }
  }
}
