.slider {
  display: grid;
  position: relative;
  aspect-ratio: 280 / 256;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    aspect-ratio: 560 / 512;
  }
}

.slider__picture {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  &--before {
    z-index: 1;
    clip-path: inset(0 50% 0 0);
  }

  &--after {
    clip-path: inset(0 0 0 50%);

    picture {
      margin-left: auto;
    }
  }

  picture {
    display: block;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 560px;
    }
  }
}

.slider__image {
  display: block;
  width: 280px;
  max-width: none;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: $color-white;
  color: $color-background-accent;
  cursor: pointer;
  transition: all 0.2s ease;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 256px;
    border-radius: 2px;
    background-image:
      linear-gradient(
        to bottom,
        currentColor 0%,
        currentColor calc(50% - 20px),
        transparent calc(50% - 20px),
        transparent calc(50% + 20px),
        currentColor calc(50% + 20px),
        currentColor 100%
      );
    transition: all 0.2s ease;

    @media (min-width: $tablet-width) {
      height: 512px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    background-color: currentColor;
    mask-image: url("../../icons/slider-arrows.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus-visible {
    color: $color-green-basic;

    &::after {
      background-color: $color-green-basic;
    }
  }

  &:active {
    color: rgba($color-green-alternate, 0.6);

    &::after {
      background-color: rgba($color-green-alternate, 0.6);
    }
  }
}
