.special-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 59px 43px;
  padding-inline: 20px;
  color: $color-white;

  background-color: rgba($color-green-alternate, 85%);
  background-image: url("../../images/cat-in-bag-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cat-in-bag-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 200px;
    padding-block: 57px;
    padding-inline: 77px 121px;
    background-image: url("../../images/cat-in-bag-tablet@1x.png");
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/cat-in-bag-tablet@2x.png");
  }

  @media (min-width: $desktop-width) {
    padding-block: 56px 43px;
    padding-inline: 40px;
    background-image: url("../../images/cat-in-bag-desktop@1x.png");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/cat-in-bag-desktop@2x.png");
  }
}

.special-offer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
  max-width: 165px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.special-offer__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
